<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/taskController.js"></script>
    <script src="js/taskService.js"></script>
    <script src="lib/ionic/js/angular/angular-resource.js"></script>
  </head>
  <body ng-app="taskListApp">
    <ion-pane ng-controller="taskCtrl">
      <ion-header-bar class="bar-dark">
        <h1 class="title">Task list</h1>
        <button class="button button-icon ion-plus-circled" >
        </button>
      </ion-header-bar>
      <ion-content>
        <ion-list>
          <ion-item ng-repeat="task in tasks">
            <ion-checkbox ng-model="task.status">
              <div class="row">
                <div class="col col-top">
                  <h2>{{task.title}}</h2>
                  Status: {{task.status ? "Concluída" : "Não concluída"}} <br>
                  Data prevista: {{task.date | date:'dd/MM/yyyy'}}
                </div>
                <div class="col col-center">
                  <button class="button button-icon icon ion-close-circled">
                </div>
              </div>
            </ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-content>
      <div class="bar bar-footer bar-dark">
      </div>
    </ion-pane>
  </body>
</html>
